@import url("https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

.language {
    display: inline;
  }
  .heading {
    font-size: 20px;
  }
  #source {
    width: 100% !important;
    background: #cccccc52;
    height: 50vh;
    font-size: 12px;
    resize: none;
  }
  #input {
    background: #cccccc52;
    width: 45.6%;
    height: 17vh;
    resize: vertical;
    font-size: 12px;
  }
  #output {
    background: #cccccc52;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 17%;
    font-size: 12px;
    right: 0;
    resize: none;
  }
  .language {
    width: 150px;
  }
  